<footer id="colophon" class="site-footer">

    <aside id="footer-widget-area" class="footer-widget-area" role="complementary" aria-label="Footer widget area">
        <div class="footer-widgets">
            <section id="text-5" class="widget footer-widget widget_text">
                <h2 class="widget-title h5">About The Author</h2>
                <div class="textwidget">
                    <p>Software Architect building RESTful web services in the cloud, and a guy who writes for this site.
                    </p>
                    <p>Find out more at&nbsp;
                        <a href="http://brianwaustin.com/">BrianWAustin.com</a>
                    </p>
                </div>
            </section>
            <section id="search-4" class="widget footer-widget widget_search">
                <h2 class="widget-title h5">Where Can You Find Me?</h2>
                <div class="social-icons">
                    <a href="https://twitter.com/brianwaustin"  target="_blank">                      
                        <div class="icon__cnt" data-icon="ei-sc-twitter" data-size="m">                                        
                        </div>
                    </a>
                    <a href="https://github.com/brianwaustin" class="svg" target="_blank">                        
                        <div class="icon__cnt" data-icon="ei-sc-github" data-size="m">                                        
                        </div>
                    </a>                   
                </div>
            </section>
        </div>
    </aside>
    <!-- #secondary -->

    <div class="footer">
        <div class="footerContent">
            <p id="copyright" property="dc:rights">Site content &copy;
                <span property="dc:dateCopyrighted">2017-2018</span>
                <span property="dc:publisher">Brian W Austin</span>
            </p>   
            
            <p>Site code is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 
                  International License</a>.
            </p>
    
        </div>
    </div>
    <!-- .footer-wrapper -->
</footer>
<!-- #colophon -->