<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="copyright" content="Brian W Austin">
<title>{{.Title}} – {{.Description}}</title>
<link rel="canonical" href="{{ "" | absURL }}">
<link rel="shortlink" href="{{ "" | absURL }}">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- <link rel="stylesheet" id="carbon-lite-fonts-css" href="{{ "css/css" | absURL }}" type="text/plain" media="all"> -->
<!-- <link rel="stylesheet" id="carbon-lite-styles-css" href="{{ "css/style.min.css" | absURL }}" type="text/css" media="all"> -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/evil-icons@1.9.0/assets/evil-icons.min.js"></script>

<link rel="dns-prefetch" href="http://fonts.googleapis.com/">
<link rel="dns-prefetch" href="http://s.w.org/">

<link rel="icon" href="{{ "images/siteicon-32x32.png" | absURL }}" sizes="32x32">
<link rel="icon" href="{{ "images/siteicon-192x192.png" | absURL }}" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="{{ "images/siteicon-180x180.png" | absURL }}">
<meta name="msapplication-TileImage" content="{{ "images/siteicon-270x270.png" | absURL }}">

<link rel="stylesheet" type="text/css" href="{{ "css/main.css" | absURL }}">
<link rel="stylesheet" type="text/css" href="{{ "css/custom.css" | absURL }}">